.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*z-index nam pove na katerem layerju hocemo da je nasa slika, to lahko naredimo samo ob position: fixed
  zdej zarad -1 je to cist spodi*/
  z-index: -1;
}